<%= form_for @step, :html => { :class => "form-horizontal step" } do |f| %>

  <% if @step.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @step.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:message) %>
  </div>
  <div class="form-group">
    <%= f.label :error_message, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :error_message, :class => 'form-control' %>
    </div>
    <%=f.error_span(:error_message) %>
  </div>
  <div class="form-group">
    <%= f.label :options, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :options, :class => 'form-control' %>
    </div>
    <%=f.error_span(:options) %>
  </div>
  <div class="form-group">
    <%= f.label :step_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :step_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:step_type) %>
  </div>
  <div class="form-group">
    <%= f.label :group_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :group_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:group_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                steps_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
